version: 2.1
orbs:
  architect: giantswarm/architect@6.10.0

workflows:
  package-and-push-chart-on-tag:
    jobs:
    - architect/push-to-app-catalog:
        context: architect
        executor: app-build-suite
        name: package-and-push-chart
        app_catalog: giantswarm-catalog
        app_catalog_test: giantswarm-test-catalog
        chart: '{APP-NAME}'
          # Trigger job on git tag.
        filters:
          tags:
            only: /^v.*/
          branches:
            ignore:
            - main
